@charset "utf-8";

/*CUERPO DEL SITIO WEB:*/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*Fuente del texto.*/
  margin: 0;/*Margen del sitio web.*/
  background-color: #999999;/*Color del fondo.*/
  color: #333333;/*Color del texto.*/
}

/* ----- CABECERA: ----- */
.header {
  background-color: #1E73BE;/*Color del fondo.*/
  color: white;/*Color del texto.*/
  text-align: center;/*Alineación del texto.*/
  padding: 30px 20px;/*Borde del encabezado (arriba, derecho).*/
}
.tabla-cabezote {
  background-color: #FFFFFF;/*Color del fondo.*/
  
  /* ----- LOGO: ----- */
  .logo {
    width: 130px;/*Anchura.*/
    height: 130px;/*Altura.*/
    background-image:url(../imagenes/logo-relatos-papel.png);/*Ruta del logo del sitio web.*/
    background-size:100% 100%;/*Tamaño de expansión de la imagen de fondo tanto en altura y ancho al 100%.*/
    background-position:center;/*Centralizacion de la imagen de fondo.*/
    background-repeat:no-repeat;/*Propiedad para que no se repita la imagen de fondo.*/
    border-radius: 0;/*Nivel de borde redondeado.*/
  }
  /*TITULO SITIO WEB:*/
  .titulo-sitio-web {
    color: #000000;/*Color del texto.*/
    text-align: left;/*Alineación del texto.*/
    font-size: 15px;/*Tamaño del texto.*/
    padding: 15% 5px;/*Borde del texto (arriba, izquierdo).*/
  }
  /*HIPERVINCULO MENU SUPERIOR:*/
  .opcion-menu-superior {
    color: #000000;/*Color del texto.*/
    text-align: left;/*Alineación del texto.*/
    font-size: 15px;/*Tamaño del texto.*/
	padding: 15% 5px;/*Borde del texto (arriba, izquierdo).*/
    
    /*ESPECÍFICACIONES DE LOS HIPERVINCULOS (COLORES Y RESALTADOS):*/
    a {/*HIPERVENCULO EN ESTADO NORMAL SIN OPRIMIR.*/
      text-decoration: none;/*DECORACIÓN DE LA LETRA DEL TEXTO (TACHADO Y SUBRAYADO).*/
      color: #000000;/*COLOR DE LETRA DEL TEXTO.*/
      font-family: Arial, Helvetica, sans-serif;/*TIPO DE LETRA DEL TEXTO.*/
      font-size: 15px;/*0.8em;*//*TAMAÑO DE LETRA DEL TEXTO.*/
      font-weight: normal;/*NEGRILLA DE LETRA DEL TEXTO.*/
    }
    a:link {/*HIPERVINCULO SIN OPRIMIR.*/
      text-decoration: none;/*DECORACIÓN DE LA LETRA DEL TEXTO (TACHADO Y SUBRAYADO).*/
      color: #000000;/*COLOR DE LETRA DEL TEXTO.*/
      /*font-family: Arial, Helvetica, sans-serif;/*TIPO DE LETRA DEL TEXTO.*/
      /*font-size: 15px;/*TAMAÑO DE LETRA DEL TEXTO.*/
      /*font-weight: normal;/*NEGRILLA DE LETRA DEL TEXTO.*/
      cursor: pointer;/*ACTIVACIÓN DE CURSOR AL SOBREPONER EL MOUSE SOBRE EL HIPERVINCULO.*/
    }
    a:visited {/*HIPERVINCULO VISITADO.*/
      text-decoration: none;/*DECORACIÓN DE LA LETRA DEL TEXTO (TACHADO Y SUBRAYADO).*/
      color: #000000;/*COLOR DE LETRA DEL TEXTO.*/
      /*font-family: Arial, Helvetica, sans-serif;/*TIPO DE LETRA DEL TEXTO.*/
      /*font-size: 15px;/*TAMAÑO DE LETRA DEL TEXTO.*/
      /*font-weight: normal;/*NEGRILLA DE LETRA DEL TEXTO.*/
      cursor: pointer;/*ACTIVACIÓN DE CURSOR AL SOBREPONER EL MOUSE SOBRE EL HIPERVINCULO.*/
    }
    a:hover {/*HIPERVINCULO CON CURSOR POR ENCIMA.*/
      text-decoration: none;/*DECORACIÓN DE LA LETRA DEL TEXTO (TACHADO Y SUBRAYADO).*/
      color: #FF0000;/*COLOR DE LETRA DEL TEXTO.*/
      /*font-family: Arial, Helvetica, sans-serif;/*TIPO DE LETRA DEL TEXTO.*/
      /*font-size: 15px;/*TAMAÑO DE LETRA DEL TEXTO.*/
      /*font-weight: normal;/*NEGRILLA DE LETRA DEL TEXTO.*/
      cursor: pointer;/*ACTIVACIÓN DE CURSOR AL SOBREPONER EL MOUSE SOBRE EL HIPERVINCULO.*/
    }
    a:active {/*HIPERVINCULO OPRIMIDO.*/
      text-decoration: none;/*DECORACIÓN DE LA LETRA DEL TEXTO (TACHADO Y SUBRAYADO).*/
      color:none;/*COLOR DE LETRA DEL TEXTO.*/
      /*font-family: Arial, Helvetica, sans-serif;/*TIPO DE LETRA DEL TEXTO.*/
      /*font-size: 15px;/*TAMAÑO DE LETRA DEL TEXTO.*/
      /*font-weight: normal;/*NEGRILLA DE LETRA DEL TEXTO.*/
      cursor: pointer;/*ACTIVACIÓN DE CURSOR AL SOBREPONER EL MOUSE SOBRE EL HIPERVINCULO.*/
    }
    
	/*ICONO CARRITO DE COMPRAS:*/
    .icono-carrito-compras {
	  width: 50px;/*Anchura.*/
      height: 50px;/*Altura.*/
      background-image:url(../imagenes/icono-carrito_compras-01.png);/*Ruta del icono del carrito de compras.*/
      background-size:100% 100%;/*Tamaño de expansión de la imagen de fondo tanto en altura y ancho al 100%.*/
      background-position:center;/*Centralizacion de la imagen de fondo.*/
      background-repeat:no-repeat;/*Propiedad para que no se repita la imagen de fondo.*/
      border-radius: 0;/*Nivel de borde redondeado.*/
	}
	/*EFECTO HOVER DEL ICONO DEL CARRITO DE COMPRAS:*/
    .icono-carrito-compras:hover {
      filter: brightness(0) saturate(100%) invert(14%) sepia(98%) saturate(7493%) hue-rotate(0deg) brightness(101%) contrast(119%);
      transform: scale(1.05);
    }
  }
}

/* ----- RECOMENDACIONES Y COMUNIDAD DE LECTORES: ----- */
.tabla-recomendaciones-comunidad-lectores {
  background-color: #FFFFFF;/*Color del fondo.*/
  
  /*ICONO RECOMENDACIONES PERSONALIZADAS:*/
  .icono-recomendaciones-personalizadas {
    width: 100%;/*Anchura.*/
    height: 130px;/*Altura.*/
    background-image:url(../imagenes/icono-recomendaciones-personalizadas.jpg);/*Ruta del icono de las recomendaciones personalizadas.*/
    background-size:100% 100%;/*Tamaño de expansión de la imagen de fondo tanto en altura y ancho al 100%.*/
    background-position:center;/*Centralizacion de la imagen de fondo.*/
    background-repeat:no-repeat;/*Propiedad para que no se repita la imagen de fondo.*/
    border-radius: 0;/*Nivel de borde redondeado.*/
  }
  /*ICONO COMUNIDAD DE LECTORES:*/
  .icono-comunidad-lectores {
    width: 100%;/*Anchura.*/
    height: 130px;/*Altura.*/
    background-image:url(../imagenes/icono-comunidad-lectores.jpg);/*Ruta del icono de la comunidad de lectores.*/
    background-size:100% 100%;/*Tamaño de expansión de la imagen de fondo tanto en altura y ancho al 100%.*/
    background-position:center;/*Centralizacion de la imagen de fondo.*/
    background-repeat:no-repeat;/*Propiedad para que no se repita la imagen de fondo.*/
    border-radius: 0;/*Nivel de borde redondeado.*/
  }
}

/* ----- CATEGORIAS Y ROTADORES: ----- */
.tabla-categorias-rotadores {
  background-color: #FFFFFF;/*Color del fondo.*/
  
  /*AREA DE CATEGORIAS Y ROTADORES::*/
  .area-categorias-rotadores {
    width: 100%;/*Anchura.*/
    height: 300px;/*Altura.*/
  }
}

/* ----- PIE DE PÁGINA: ----- */
.tabla-footer {/*Clase creada para el pie de página.*/
  background-color: transparent;/*Color del fondo.*/
  
  /*TITULO DEL PIE DE PÁGINA.*/
  .titulo-footer {
    color: #000000;/*Color del texto.*/
    text-align: center;/*Alineación del texto.*/
    padding: 15px;/*Borde del pie de página (arriba).*/
    font-size: 0.9em;/*Tamaño del texto.*/
  }
}